.education-header {
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  padding-top: 0.6rem;
}

.education {
  position: relative;
}

.addSchool {
  opacity: 0;
  position: absolute;
  top: 0.2rem;
  right: 0;
  background: lightgray;
  padding: 5px;
  border-radius: 0.5rem;
  transition: 0.5s;
}

.addSchool:hover {
  outline: 1px solid black;
  cursor: pointer;
  transition: 0.2s;
}

.education:hover .addSchool {
  opacity: 1;
}
