.header {
  border-bottom: 1px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.exportPDF {
  position: absolute;
  top: 40%;
  left: 50vw;
  padding: 0.5rem;
  background-color: lightgray;
  border-radius: 0.3rem;
}

.exportPDF:hover {
  outline: 1px solid black;
  cursor: pointer;
  transition: 0.2s;
}
