.company,
#companyInput {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.title,
#titleInput {
  font-style: italic;
}

#companyInput,
#titleInput {
  display: block;
}

.dates,
#datesInput {
  position: absolute;
  top: 0;
  right: 0;
}

.job {
  position: relative;
}

.job-edit {
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  width: 210px;
}

.responsibility-edit {
  position: relative;
  left: -1rem;
  width: 765px;
}

.location,
#locationInput {
  position: absolute;
  top: 1.5rem;
  right: 0;
  font-style: italic;
}

.responsibilities {
  padding-left: 1rem;
}

.responsibilities li {
  list-style-type: square;
}

.responsibilities span {
  position: relative;
  left: 1.5rem;
}

.job:hover .editJob,
.job:hover .addResponsibility,
.job:hover .saveJob,
.job:hover .saveResponsibility {
  opacity: 1;
}

.editJob,
.addResponsibility,
.saveJob,
.saveResponsibility {
  opacity: 0;
  position: absolute;
  top: 0;
  right: -8rem;
  background: lightgray;
  padding: 5px;
  border-radius: 0.5rem;
  transition: 0.5s;
}

.editJob:hover,
.addResponsibility:hover,
.saveJob:hover,
.saveResponsibility:hover {
  outline: 1px solid black;
  cursor: pointer;
  transition: 0.2s;
}

.addResponsibility,
.saveResponsibility {
  top: 3rem;
  right: -13.5rem;
}

.saveResponsibility {
  right: -14rem;
}
.saveJob {
  right: -11.35rem;
}
