.school-name {
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.degree {
  font-style: italic;
}

.grad-date {
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
}

.school-location {
  font-style: italic;
  position: absolute;
  top: 1.2rem;
  right: 0;
}

.school {
  position: relative;
}

.school-description {
  list-style-type: square;
  position: relative;
  left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.school-description span {
  position: relative;
  left: 1.5rem;
}

.school:hover .editSchool,
.school:hover .saveSchool {
  opacity: 1;
}

.editSchool,
.saveSchool {
  opacity: 0;
  position: absolute;
  top: 0;
  right: -10rem;
  background: lightgray;
  padding: 5px;
  border-radius: 0.5rem;
  transition: 0.5s;
}

.editSchool:hover,
.saveSchool:hover {
  outline: 1px solid black;
  cursor: pointer;
  transition: 0.2s;
}

.school input {
  font-size: 1rem;
}

.schoolNameInput {
  font-weight: bold;
}

.degreeInput {
  display: block;
  font-style: italic;
}

.gradDateInput {
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
}

.schoolLocationInput {
  position: absolute;
  top: 1.3rem;
  right: 0;
}

.schoolDescInput {
  display: block;
  margin-top: 0.5rem;
}
