.work-header {
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  padding-top: 0.6rem;
}

.job-list {
  position: relative;
}

.addJob {
  opacity: 0;
  position: absolute;
  top: -3rem;
  right: 0;
  background: lightgray;
  padding: 5px;
  border-radius: 0.5rem;
  transition: 0.2s;
}

.addJob:hover {
  outline: 1px solid black;
  cursor: pointer;
  transition: 0.2s;
}

.work-experience:hover .addJob {
  opacity: 1;
}
